*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  background: #f7f181;
}

#main{
  margin: 0px;
  width: 80vmax;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 1s opacity;
}

.quote{
  font-size: 50px;
  text-align: left;
  padding: 10px 50px;
}

.author{
  font-size: 24px;
  text-align: right;
  padding: 10px 70px;
  font-style: italic;
}

@media(max-width: 768px){
  #main{
    width: 90%;
  }
  .quote{
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
